version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    environment:
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "5055:5055"
    labels:
      - traefik.enable=true
      - traefik.http.routers.backend.rule=Host(`api-confirming.egeadev.cloud`)
      - traefik.http.services.backend.loadbalancer.server.port=5055
    networks:
      - coolify
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5055/docs"]
      interval: 30s
      timeout: 10s
      retries: 3

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://192.168.1.242:5055
    restart: always
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    ports:
      - "8095:8095"
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontend.rule=Host(`confirming.egeadev.cloud`)
      - traefik.http.services.frontend.loadbalancer.server.port=8095
    networks:
      - coolify

networks:
  coolify:
    external: true


